<ion-header no-border>
  <ion-navbar hideBackButton transparent></ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides (ionSlideDidChange)="slideChanged()" #featureEducationSlides [pager]="!featureEducationSlides.isEnd()" class="onboarding-slides">
    <ion-slide *ngIf="appName !== 'Copay'">
      <ion-content>
        <div class="slide-info">
          <div class="img-container">
            <img src="assets/img/onboarding/feature-education-1.svg" />
          </div>
          <div class="info">
            <h3 class="title" translate>MoreSats</h3>
            <div class="text" translate>
              Pravidelné úspory v Bitcoinu.
            </div>
            <div class="text" translate>
              Do vlastní peněženky, za minimální poplatky.
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
    <ion-slide *ngIf="appName !== 'Copay'">
      <ion-content>
        <div class="slide-info">
          <div class="img-container">
            <img class="tour-2" src="assets/img/onboarding/feature-education-2.svg" />
          </div>
          <div class="info">
            <h3 class="title" translate>Nakupujte výhodně Bitcoin</h3>
            <div class="text" translate>
              Po jedinné platbě Vám zprůměrujeme cenu několika nákupy přes celý měsíc.
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-content>
        <div class="slide-info">
          <div class="img-container">
            <img src="assets/img/onboarding/feature-education-3.svg" />
          </div>
          <div class="info">
            <h3 class="title" translate>Minimální poplatky</h3>
            <div class="text" translate>Hromadným nákupem s ostatnímí stackery minimalizujeme poplatky.</div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
    <ion-slide class="key-creation">
      <ion-content>
        <div class="slide-info">
          <div class="img-container">
            <img class="tour-1" src="assets/img/onboarding-tour1.svg" />
          </div>
          <div class="info">
            <h3 class="title" translate>Do vlastní peněženky</h3>
            <div class="text" translate>
              Na konci nákupního období dostanete Bitcoin přímo do této peněženky a můžete si s nimi dělat co chcete.
            </div>
          </div>
        </div>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer no-border *ngIf="!isCordova || featureEducationSlides.isEnd()">
  <ion-toolbar *ngIf="!featureEducationSlides.isEnd() && !isCordova">
    <button ion-button class="button-standard" (click)="featureEducationSlides.slideNext()">
      {{'Pokračovat' | translate}}
    </button>
  </ion-toolbar>
  <ion-toolbar *ngIf="featureEducationSlides.isEnd()">
    <button ion-button class="button-standard no-margin-bottom" (click)="createWallet()">
      {{'Vytvořit peněženku' | translate}}
    </button>
    <button ion-button clear color="primary" class="button-standard" (click)="goToNextPage('ImportWalletPage')">
      {{'Obnovit ze zálohy' | translate}}
    </button>
  </ion-toolbar>
</ion-footer>
